@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.people__img
		img
			max-width: 100%
	.img__sertch
		max-width: 100%
		height: 157px
	.people__title
		font-size: 15px
		margin-top: 30px
	.information__list
		padding-right: 10px
	.people__item 
		margin-bottom: 40px
	.donors__people
		margin-bottom: 40px
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.man
		margin-bottom: 250px
		padding-top: 220px
	.girl-wrap
		text-align: center
		padding-top: 250px
	.best
		padding-top: 50px
	.main-mnu
		display: none
		min-width: 295px
		float: right
		text-align: right
		background-color: #fff
		margin-top: 85px
		position: absolute
		z-index: 2
		border: 2px solid #ccc
		right: 12px
		top: 100pxk
		margin: 0

		ul
			li
				display: block
				line-height: 0
				padding: 0
			a
				display: block
				color: #000
				line-height: 48px
				margin: 0
				padding: 0 20px
				font-size: em(14px)
				transition: all .5s ease
				&:hover
					background-color: #ccc
					box-shadow: 0 0 15px #5A5454 inset
	.logo
		padding-left: 20px
		line-height: 50px
		font-size: 20px
	.header__text
		margin-bottom: 80px
	.people__img
		text-align: center
	.img__sertch
		height: 200px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.text
		text-align: center
	.text__title
		padding-top: 10px
		opacity: .7
		color: #fff
		font-size: 22px
	.text__desc
		color: #fff
		opacity: .7
		margin-bottom: 10px
	.header__text
		margin-bottom: 300px
	.header__desc
		margin-bottom: 40px
	.girl
		background-position: -190px 0
	.footer__left
		margin-left: 80px
	.footer__right
		display: none
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	.header__text
		margin-bottom: 240px
	.header__title
		font-size: 40px
		margin-bottom: 40px
	.people__item 
		border-top: 2px solid #ccc
		padding: 75px 30px 30px
	.people__list  
		margin-bottom: 20px
	.girl-wrap
		padding-top: 230px
	.girl__desc
		font-size: 13px
	.icon__wrap
		margin-bottom: 60px
	.man
		padding-top: 240px
		background-position: -240px 0
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

